html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0 auto;

}

header {
	height: 58px;
}


/*======== Nav Styles ========*/


/* Clear Nav Bar*/

.navbar {
	position: relative;
	z-index: 2;
    margin-bottom: 0;
	height: 0;
	background: transparent;
	transition: all .5s ease-in-out;
}

.navbar:hover {
	background: #FF9C0A;
}

/*.navbar-default.navbar-fixed-top:hover {
	background: rgba(255,255,255,0.1);
	background: blue;


}*/

a.headerNavLinks {
	padding-right: 10px;
	text-decoration: none;
	font-size: 1.6rem;
	color: #fff;
	letter-spacing: .3rem;
	text-transform: uppercase;

}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}

.myNavContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1.5rem;
	background: transparent;
/*	background: rgba(255,255,255,0.1);
*/	/*background: #FFD017;*/
/*	background: lightblue;
*/
	transition: all .5s ease-in-out;

}

/*.myNavContainer:hover {
	background: #FF9C0A!important;

}*/
.container-fluid {
	margin-top: 0;

}

.icons {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 200px;
	font-size: 20px;
	/*padding: 10px;*/
	color: #fff;
}

.links {
	padding-top: 6px;

}

/*======== Carousel Styles ========*/

#carousel-example-generic {
	margin-top: 50px;
}

img {
	max-width: 100%;
	max-height: 500px;
}


.carousel-inner {
	max-height: 500px;
	max-width: 100%;
	background: #fff;
	margin: 0;
	padding: 0;
	transition: all .5s ease-in-out;


}

.carousel-inner:hover {
	box-shadow: 1px 1px 18px 6px;


}
.glyphicon-chevron-left, .glyphicon-chevron-right {
	transition: all 1s ease-in-out;
}
.glyphicon-chevron-left:hover, .glyphicon-chevron-right:hover {
	color: #FF9C0A;
}
.carousel-control {
	opacity: 0;
}
a.left.carousel-control {
    margin-left: 0;
	background: none;
}

a.right.carousel-control {
	margin-right: 0;
	background: none;
}

.carousel-indicators li {
	background: #FF9C0A;;
}
.carousel-indicators .active {
	background: #FF9C0A;
}


/*=== Row Content ===*/

.row {
	margin: 0;
	padding: 0;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

.col-lg-4 {
	padding-top: 30px;
	/*background: red;*/

}

/*======== Experimental Styles ========*/

#shape {

/*	height: 500px;
	width: 500px;*/

}

/*======== Clouds and Animations Styles ========*/
#upper {

}
/* Light blue cloud container */

#under-construction {
	text-align: center;
	position: relative;
	top: 400px;


}
/* Sky Container */

#middle {
	width: auto;
	height: 830px;
	margin-top: -100px;
	background-image: url(../img/sky.svg);
/*	background: lightblue;*/
	background-size: cover;
	background-position: fixed;
	/*Storyboard maybe?*/
/*	overflow: auto;*/
	overflow: hidden;
}



/*======== Sun Animation ========*/

#sun {
	position: relative;
	top: -100px;
	left: -100px;
	height: 300px;
	width: 300px;
	z-index: 1;
	animation-name: sun;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes sun {
	from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes sun
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}

@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}



/*Maybe adjust this.*/
.imgCloud {
	height: 250px; width: 200px;

}

#cloud1 {

	position: relative;
	top: -100px;
	z-index: 1;
	height: 20px;
	width: 20px;
	opacity: 50%;
	animation-name: cloud;
	animation-duration: 85s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud2 {
	position: relative;
	top: -90px;
	z-index: 2;
	height: 31px;
	width: 31px;
	opacity: 50%;
	animation-name: cloud2;
	animation-duration: 59s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud2 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud3 {

	position: relative;
	top: -30px;
	z-index: 3;
	height: 30px;
	width: 30px;
	opacity: 50%;
	animation-name: cloud3;
	animation-duration: 48s;
	animation-direction: reverse;
/*	animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud3 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud4 {

	position: relative;
	top: -100px;
	z-index: 4;
	height: 70px;
	width: 70px;
	opacity: 10%;
	animation-name: cloud4;
	animation-duration: 27s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud4 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud5 {

	position: relative;
	top: 1px;
	z-index: 5;
	height: 80px;
	width: 80px;
	opacity: 50%;
	animation-name: cloud5;
	animation-duration: 25s;
	animation-direction: reverse;
/*	animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud5 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud6 {

	position: relative;
	top: -100px;
	z-index: 6;
	height: 70px;
	width: 70px;
	opacity: 50%;
	animation-name: cloud6;
	animation-duration: 21s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud6 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud7 {

	position: relative;
	top: -38px;
	z-index: 7;
	height: 70px;
	width: 70px;
	opacity: 50%;
	animation-name: cloud7;
	animation-duration: 17s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud7 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud8 {

	position: relative;
	top: -150px;
	z-index: 8;
	height: 80px;
	width: 80px;
	opacity: 50%;
	animation-name: cloud8;
	animation-duration: 18s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud8 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud9 {

	position: relative;
	top: -400px;
	z-index: 9;
	height: -100px;
	width: 100px;
	opacity: 50%;
	animation-name: cloud9;
	animation-duration: 12s;
	animation-direction: reverse;
/*	animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud9 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud10 {

	position: relative;
	top: -510px;
	z-index: 10;
	height: 900px;
	width: 900px;
	opacity: 10%;
	animation-name: cloud10;
	animation-duration: 15s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes cloud10 {
	from {
		transform: translateX(-200px);
	}
	to {
		transform: translateX(3000px);
	}


}

/* Star with Animation */

#star1 {
	position: absolute;
	top: 10px;
	left: 300px;
	width: 5px;
	height: 5px;
	z-index: 1;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 1px white;
	animation-name: star;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	transition: all ease-in-out;
}

@keyframes star {
	from {transform:scale(0);}
	to {transform: scale(1);}

}

#star2 {
	position: absolute;
	top: 130px;
	left: 300px;
	width: 5px;
	height: 5px;
	z-index: 3;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 1px white;
	animation-name: star;
	animation-duration: 9s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	transition: all ease-in-out;
}

#star3 {
	position: absolute;
	top: 90px;
	left: 400px;
	width: 5px;
	height: 5px;
	z-index: 3;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 1px white;
	animation-name: star;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	transition: all ease-in-out;
}

#star4 {
	position: absolute;
	top: 40px;
	left: 510px;
	width: 5px;
	height: 5px;
	z-index: 1;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 1px white;
	animation-name: star;
	animation-duration: 11s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	transition: all ease-in-out;
}

#star5 {
	position: absolute;
	top: 70px;
	left: 600px;
	width: 5px;
	height: 5px;
	z-index: 3;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 1px white;
	animation-name: star;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	transition: all ease-in-out;
}

#star6 {
	position: absolute;
	top: 30px;
	left: 760px;
	width: 5px;
	height: 5px;
	z-index: 1;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 1px white;
	animation-name: star;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	transition: all ease-in-out;
}

#star7 {
	position: absolute;
	top: 60px;
	left: 800px;
	width: 5px;
	height: 5px;
	z-index: 3;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 1px white;
	animation-name: star;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	transition: all ease-in-out;
}

#star8 {
	position: absolute;
	top: 200px;
	left: 900px;
	width: 5px;
	height: 5px;
	z-index: 3;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 1px white;
	animation-name: star;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	transition: all ease-in-out;
}

#star9 {
	position: absolute;
	top: 35px;
	left: 1000px;
	width: 5px;
	height: 5px;
	z-index: 1;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 1px white;
	animation-name: star;
	animation-duration: 14s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	transition: all ease-in-out;
}

#star10 {
	position: absolute;
	top: 10px;
	left: 1200px;
	width: 5px;
	height: 5px;
	z-index: 1;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 1px white;
	animation-name: star;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	transition: all ease-in-out;
}

#star11 {
	position: absolute;
	top: 180px;
	left: 1210px;
	width: 5px;
	height: 5px;
	z-index: 3;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 1px white;
	animation-name: star;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	transition: all ease-in-out;
}

#star12 {
	position: absolute;
	top: 180px;
	left: 100px;
	width: 5px;
	height: 5px;
	z-index: 1;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 1px white;
	animation-name: star;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	transition: all ease-in-out;
}

#star13 {
	position: absolute;
	top: 100px;
	left: 1050px;
	width: 5px;
	height: 5px;
	z-index: 3;
	border-radius: 50%;
	background: white;
	box-shadow: 1px 1px 10px 1px white;
	animation-name: star;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	transition: all ease-in-out;
}


/* Rocket Ship */

#rocket  {
	position: absolute;
	top: 160px;
	left: 40%;
	z-index: 6;
	/*height: 600px;*/
	width: 250px;

}

/* Blue Coud */

#blue-cloud {
	position: absolute;
	top: 535px;
	/*left: 13%;*/
	z-index: 6;
	height: 100px;
	/*width: 1344px;*/
	width: 100.01%;

}

#big-cloud {
	position: absolute;
	top: 520px;
	/*left: 13%;*/
	z-index: 1;
	height: 100px;
	/*width: 1344px;*/
	width: 100.01%;

}




main {
/*	display: flex;
	align-items: center;
	justify-content: flex-end;*/
	margin-top: 30px;
	height: 400px;
	background: #47CFE2;
}


#main-info1 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	padding: 6rem;
	text-align: center;
	font-size: 2.2rem;
	color: white;
	letter-spacing: 2px;
	/*font-family: 'Lato', sans-serif;*/

/*	font-family: 'Roboto Condensed', sans-serif;*/

/*	font-family: 'Muli', sans-serif;*/

	/*font-family: 'Josefin Sans', sans-serif;*/


	/*font-family: 'Didact Gothic', sans-serif;*/


	/*font-family: 'Assistant', sans-serif;*/


	/*font-family: 'Amiko', sans-serif;*/
	/*font-family: 'Kite One', sans-serif;*/
	transition: all 1s ease-in-out;
}


#about-content {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 2rem;
	letter-spacing: 2px;
}

#projects {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FF9C0A;
	height: 10rem;
}


#projects-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

#projects-content h1 {
	color: white;
	letter-spacing: 2px;
	text-align: center;
	margin: 0;
}

img#going-places {
	border-radius: 50%;
	background: transparent;
	height: 200px;
	width: 200px;
	transition: all 1s ease-in-out;


}

img#going-places:hover {
	transform: rotate(360deg);
}



/*=== Img Content non-carousel ===*/

.img {
	height: 200px; width: 200px;
	transition: .4s ease-in-out;

}

.img:hover {
	box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.7);
	transform: scale(1.05)
}

#contact {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FF9C0A;
	height: 10rem;
}


#contact-content {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 2rem;
	letter-spacing: 2px;

}

#contact-content h1 {
	color: white;
	letter-spacing: 2px;
	text-align: center;
	margin: 0;
}




/*==== Footer ====*/

.navbar-bottom {
	background: #FFD017;
	height: 30px;
}

.footer-container {
	display: flex;
	justify-content: center;
	color: #fff;
	letter-spacing: .3rem;
}

a:hover {
	text-decoration: none;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */



}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

