html {
	/*background: #eee;*/
}

body {
	/*background: yellow;*/
	margin: 0 auto;
	/*background: #FFD017;*/
}

header {
	/*background: red;*/
	height: 58px;

}

/*======== Nav Styles ========*/

.navbar.navbar-default.navbar-fixed-top {
	/*display: flex;
	justify-content: center;
*/	margin-bottom: 0;
	background: none;
	height: 0;

}

.my-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1.5rem;
	background-color: #FFD017;
	transition: all .5s ease-in-out;

}
.my-container:hover {
	background: #FF9C0A;

}
.container-fluid.jumbotron {
	margin-top: 0;

}

.icons {
	display: flex;
	justify-content: space-between;
	width: 200px;
	font-size: 20px;
	padding: 10px;
	color: #fff;
}

/*.links {
	display: flex-start;

}*/


.links {
	padding-top: 14px;
}

a.headerNavLinks {
	padding-right: 10px;
	text-decoration: none;
	font-size: 1.4rem;
	color: #fff;
	letter-spacing: .3rem;
	text-transform: uppercase;

}

/*======== Carousel Styles ========*/

/*<div id="carousel-example-generic" class="container-fluid carousel slide" data-ride="carousel">*/
#carousel-example-generic {
	/*background: red;*/
/*	margin-top: 10px;*/
}

img {
	max-width: 100%;
	max-height: 500px;
}

.carousel-inner {
	max-height: 500px;
	max-width: 100%;
	background: #fff;
	margin: 0;
	padding: 0;

}
.glyphicon-chevron-left, .glyphicon-chevron-right {
	transition: all 1s ease-in-out;
}
.glyphicon-chevron-left:hover, .glyphicon-chevron-right:hover {
	color: #FF9C0A;
}
.carousel-control {
	opacity: 0;
}
a.left.carousel-control {
    margin-left: 0;
	background: none;
}

a.right.carousel-control {
	margin-right: 0;
	background: none;
}

.carousel-indicators li {
	background: #FF9C0A;;
}
.carousel-indicators .active {
	background: #FF9C0A;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

