html, body {
	height: 100%;

}

body {

	margin: 0 auto;
	padding-bottom: 70px;


}

header {
	/*background: red;*/
	height: 58px;


}



/*======== Nav Styles ========*/

.navbar.navbar-default.navbar-fixed-top {
    margin-bottom: 0;
	height: 0;

}

.my-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1.5rem;
	background: #FFD017;
	transition: all .5s ease-in-out;

}
.my-container:hover {
	background: #FF9C0A!important;

}
.container-fluid {
	margin-top: 0;

}

.icons {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 200px;
	font-size: 20px;
	/*padding: 10px;*/
	color: #fff;
}

.links {
	padding-top: 6px;
}

a.headerNavLinks {
	padding-right: 10px;
	text-decoration: none;
	font-size: 1.4rem;
	color: #fff;
	letter-spacing: .3rem;
	text-transform: uppercase;

}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}

/*======== Carousel Styles ========*/

#carousel-example-generic {

}

img {
	max-width: 100%;
	max-height: 500px;

}


.carousel-inner {
	max-height: 500px;
	max-width: 100%;
	background: #fff;
	margin: 0;
	padding: 0;
	transition: all .5s ease-in-out;


}

.carousel-inner:hover {
	box-shadow: 1px 1px 20px 10px;


}
.glyphicon-chevron-left, .glyphicon-chevron-right {
	transition: all 1s ease-in-out;
}
.glyphicon-chevron-left:hover, .glyphicon-chevron-right:hover {
	color: #FF9C0A;
}
.carousel-control {
	opacity: 0;
}
a.left.carousel-control {
    margin-left: 0;
	background: none;
}

a.right.carousel-control {
	margin-right: 0;
	background: none;
}

.carousel-indicators li {
	background: #FF9C0A;;
}
.carousel-indicators .active {
	background: #FF9C0A;
}

main {
	height: 100px;
	background: #FF9C0A;
}

/*=== Row Content ===*/

.row {
	margin: 0;
	padding: 0;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

.col-lg-4 {


}

/* Experimental Sytling */

#shape {

/*	height: 500px;
	width: 500px;*/

}

#cloud {
	position: absolute;
	z-index: -1;
	height: 300px;
	width: 500px;
	background: url('../img/cloud.svg');
	animation-name: cloud;
	animation-duration: 10s;

}

@keyframes cloud {
	from {
		transform: translateX(-600px);
	}
	to {
		transform: translateX(1700px);
	}


}
.circle {
	width: 100px;
	padding: 50px 0;
	line-height: 0;
	margin: 6px auto;
	background: red;
	color: white;
	border-radius: 50px;
	text-align: center;
	font-size: 5rem;


/*	animation-name: circle;
	animation-duration: 1s;*/
	transition: transform .3s, box-shadow .1s .0s;
}

.circle:hover {
	background: teal;
	transform: rotate(360deg);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	width: 200px;


}
/*
@keyframes circle {
	from {



	}
	to {



	}

}*/

/*=== Img Content non-carousel ===*/

.img {
	height: 200px; width: 200px;
	transition: .3s ease-in-out;

}

.img:hover {
	box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.3);
}

/*==== Footer ====*/

.navbar-bottom {
	background: #FFD017;
	height: 30px;
}

.footer-container {
	display: flex;
	justify-content: center;
	color: #fff;
	letter-spacing: .3rem;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

