html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0 auto;
}

header {
	height: 58px;
}


/*======== Nav Styles ========*/

.navbar.navbar-default.navbar-fixed-top {
    margin-bottom: 0;
	height: 0;

}



.myNavContainer {

	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1.5rem;
	background: transparent;
/*	background: rgba(255,255,255,0.1);
*/	/*background: #FFD017;*/
/*	background: lightblue;
*/
	transition: all .5s ease-in-out;

}

.myNavContainer:hover {
	background: #FF9C0A!important;

}
.container-fluid {
	margin-top: 0;

}

.icons {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 200px;
	font-size: 20px;
	/*padding: 10px;*/
	color: #fff;
}

.links {
	padding-top: 6px;

}

/* Clear Nav Bar*/

.navbar-default.navbar-fixed-top {
	/*background: rgba(255,255,255,0.1);*/
	background: transparent;


}

a.headerNavLinks {
	padding-right: 10px;
	text-decoration: none;
	font-size: 1.4rem;
	color: #fff;
	letter-spacing: .3rem;
	text-transform: uppercase;

}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}

/*======== Carousel Styles ========*/

#carousel-example-generic {
	margin-top: 10px;
}

img {
	max-width: 100%;
	max-height: 500px;

}


.carousel-inner {
	max-height: 500px;
	max-width: 100%;
	background: #fff;
	margin: 0;
	padding: 0;
	transition: all .5s ease-in-out;


}

.carousel-inner:hover {
	box-shadow: 1px 1px 18px 6px;


}
.glyphicon-chevron-left, .glyphicon-chevron-right {
	transition: all 1s ease-in-out;
}
.glyphicon-chevron-left:hover, .glyphicon-chevron-right:hover {
	color: #FF9C0A;
}
.carousel-control {
	opacity: 0;
}
a.left.carousel-control {
    margin-left: 0;
	background: none;
}

a.right.carousel-control {
	margin-right: 0;
	background: none;
}

.carousel-indicators li {
	background: #FF9C0A;;
}
.carousel-indicators .active {
	background: #FF9C0A;
}

main {
	margin-top: 10px;
	height: 100px;
	background: #FF9C0A;
}

/*=== Row Content ===*/

.row {
	margin: 0;
	padding: 0;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

.col-lg-4 {
	padding-top: 30px;
	/*background: red;*/

}

/*======== Experimental Styles ========*/

#shape {

/*	height: 500px;
	width: 500px;*/

}

/*======== Clouds and Animations Styles ========*/
#upper {

}

#middle {
	width: auto;
	height: 718px;
	margin-top: -100px;
	background-color: lightblue;
	/*Storyboard maybe?*/
/*	overflow: auto;*/
	overflow: hidden;
}


/*======== Sun Animation ========*/

#sun {
	position: relative;
	top: -100px;
	left: -100px;
	height: 300px;
	width: 300px;
	z-index: 2;
	animation-name: sun;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}


@keyframes sun {
	from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes sun
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}

@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}


/*Maybe adjust this.*/
.imgCloud {
	height: 250px; width: 200px;

}


#cloud1 {

	position: relative;
	top: -100px;
	z-index: 1;
	height: 20px;
	width: 20px;
	opacity: 50%;
	animation-name: cloud;
	animation-duration: 85s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud2 {

	position: relative;
	top: -90px;
	z-index: 2;
	height: 31px;
	width: 31px;
	opacity: 50%;
	animation-name: cloud2;
	animation-duration: 59s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud2 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud3 {

	position: relative;
	top: -30px;
	z-index: 3;
	height: 30px;
	width: 30px;
	opacity: 50%;
	animation-name: cloud3;
	animation-duration: 48s;
	animation-direction: reverse;
/*	animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud3 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud4 {

	position: relative;
	top: -100px;
	z-index: 4;
	height: 70px;
	width: 70px;
	opacity: 10%;
	animation-name: cloud4;
	animation-duration: 27s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud4 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud5 {

	position: relative;
	top: 1px;
	z-index: 5;
	height: 80px;
	width: 80px;
	opacity: 50%;
	animation-name: cloud5;
	animation-duration: 25s;
	animation-direction: reverse;
/*	animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud5 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud6 {

	position: relative;
	top: 1px;
	z-index: 6;
	height: 70px;
	width: 70px;
	opacity: 50%;
	animation-name: cloud6;
	animation-duration: 21s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud6 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud7 {

	position: relative;
	top: -38px;
	z-index: 7;
	height: 70px;
	width: 70px;
	opacity: 50%;
	animation-name: cloud7;
	animation-duration: 17s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud7 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud8 {

	position: relative;
	top: -150px;
	z-index: 8;
	height: 80px;
	width: 80px;
	opacity: 50%;
	animation-name: cloud8;
	animation-duration: 18s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud8 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud9 {

	position: relative;
	top: -100px;
	z-index: 9;
	height: 100px;
	width: 100px;
	opacity: 50%;
	animation-name: cloud9;
	animation-duration: 12s;
	animation-direction: reverse;
/*	animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

@keyframes cloud9 {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(3000px);
	}

}

#cloud10 {

	position: relative;
	top: -510px;
	z-index: 10;
	height: 900px;
	width: 900px;
	opacity: 10%;
	animation-name: cloud10;
	animation-duration: 15s;
	animation-direction: reverse;
	/*animation-delay: 2s;*/
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes cloud10 {
	from {
		transform: translateX(-200px);
	}
	to {
		transform: translateX(3000px);
	}


}


.circle {
	width: 100px;
	padding: 50px 0;
	line-height: 0;
	margin: 6px auto;
	background: red;
	color: white;
	border-radius: 50px;
	text-align: center;
	font-size: 5rem;


/*	animation-name: circle;
	animation-duration: 1s;*/
	transition: transform .3s, box-shadow .1s .0s;
}

.circle:hover {
	background: teal;
	transform: rotate(360deg);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	width: 200px;


}
/*
@keyframes circle {
	from {



	}
	to {



	}

}*/


/*#mountain {
	position: absolute;
	top: 89px;
	z-index: 6;
	height: -200px;
	width: 1000px;

}
*/








/*=== Img Content non-carousel ===*/



.img {
	height: 200px; width: 200px;
	transition: .4s ease-in-out;

}

.img:hover {
	box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.7);
	transform: scale(1.05)
}

/*==== Footer ====*/

.navbar-bottom {
	background: #FFD017;
	height: 30px;
}

.footer-container {
	display: flex;
	justify-content: center;
	color: #fff;
	letter-spacing: .3rem;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

